body {
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif sans-serif;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
  background-image: url('./LOGO.jpg');
  background-size:85%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.85;
}
h1,h2 {
  border:10em; /* Adjust border width and color as needed */
  padding: 5px; /* Add padding for space around the text */
  display:flexbox; 
  background-color: white; /* Set the background color to white */
  border-width: 1px;
  border-radius: 100px;
  
}

::-webkit-scrollbar {
  background-color: transparent;
}

.custom-select label {
  padding: 0 10px;
  font-size: 1rem;
}

input::-moz-placeholder {
  color: black;
}


select {
  /* box-shadow: 0 10px 25px; */
  /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff; */
  font-size: .9rem;
  border-radius: 20px;
  padding: 0.5em 2em 0.5em 1em;
  background: #ecf0f3;
  color: #555;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.form-div {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 5px 5px 5px;
}

.custom-select {
  position: relative;
  /* padding: 10px; */
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: black;
  height: 100%;
  width: 2rem;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.5em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 20%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 70%;
}

.container {
  width: 80%;
  padding: 20px;
  border-radius: 40px;
  /* background: transparent; */
  /* box-shadow: 20px 20px 20px #cbced1, -20px -20px 20px #ffffff; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.title img {
  width: 100px;
  display: inline;
}

.title p {
  display: inline;
}

.form-div input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: black;
  padding: 10px 10px 10px 5px;
  font-family: "Roboto", sans-serif;
  font-size: .9rem;
}

.form-div label {
  font-size: .9rem;
}

.members,
.electricity,
.distance,
.mileage,
.lpg,
.waste {
  margin-bottom: 20px;
  border-radius: 15px;
  /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff; */
  /* box-shadow: 0 10px 25px white; */
  padding: 10px;
  margin-right: 20px;
  background-color: white;
  /* Set the background color to white */

}

.fuel {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 0px;
  width: 300px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  background: #00b36a;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .2s;
}

.submit-btn:hover {
  background: black;

}

.submit-btn:active {
  background: black;
}


#result-container {
  display: none;
  font-size: .9rem;
  color: black;
}

.subtitle {
  text-align: center;
}

#success {
  color: green;
  display: none;
}

#danger {
  color: red;
  display: none;
}

#electricity-output,
#fuel-output,
#lpg-output,
#waste-output {
  margin: 40px;
  border-radius: 15px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  padding: 10px 20px;
  display: none;
}

.text {
  font-size: .9rem;
}