table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  /* Add more space around the table */
  border: 1px solid #ddd;
  /* Add a border to the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  /* Increase padding for more space */
  text-align: center;
}


body {
  background-color: #f0f0f0;
  font-weight: bold;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

button {
  padding: 10px;
  background-color:#333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5em;
}

button:hover {
  background-color: gray;
}

/* General Header Styling */
.header {
  background-color: #333;
  padding: 5px 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
    flex: 0 0 auto;
    margin-right: 20px; /* Space between the logo and content */
}

.logo img {
    max-width: 100px; /* Adjust the size of the logo as needed */
    height: auto;
}

/* .logo img {
  max-height: 50px;
} */

.nav-features {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.nav-features div a {
  text-decoration: none;
  /* color: #333; */
color: white;
  font-weight: bold;
  font-size: 16px;
}

.nav-features div a:hover {
  color: #ff6600;
}


.hamburger-icon {
  display: none; /* Initially hidden on larger screens */
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Hide nav links by default on small screens */
.nav-features {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Show hamburger icon and hide nav links on small screens */
@media (max-width: 768px) {
  .nav-features {
    display: none; /* Hide nav links */
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
    position: absolute;
    top: 60px; /* Adjust to your header height */
    right: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .logo-content h2 {
    margin: 0;
    font-size: 1em; /* Adjust font size as needed */
    color: #fff;
}

.logo-content p {
    font-size: 0.5em; /* Adjust font size as needed */
    color: #fff;
}

  .hamburger-icon {
    display: block; /* Show hamburger icon */
  }

  /* Show the nav links when active */
  .nav-features.show {
    display: flex;
  }
  .hamburger-icon.hide {
      display: none;
    }
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    width: 100%;
    /* margin-top: 5em; */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.footer-contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.contact-info, .footer-social {
    width: 45%;
}

.contact-info h2, .footer-social h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.contact-info p, .footer-social p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li img {
    width: 24px;
    height: 24px;
    filter: invert(1); /* To make icons white */
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    font-size: 14px;
}

footer p {
    margin: 0;
}
/* .logo-content{
  color: white;
  position: relative;
  right: 100px;
} */
.logo-content{
    flex: 1;
}

.logo-content h2 {
    margin: 0;
    font-size: 1.6em; /* Adjust font size as needed */
    color: #fff;
}

.logo-content p {
    font-size: 1em; /* Adjust font size as needed */
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 20px;
   
}

input{
  width: 90%;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* margin-right: 1em; */
}
input:focus {
  border-color: gray; 
  outline: none;
}

label {
  
  display: block;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

form {
  background-color: rgba(51, 51, 51, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 1.5em;
}

